{
    "presets": [
        "env",
        "stage-3"
    ],
    "retainLines": true,
    "plugins": [
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ]
}